.filter_wrap {
    width: 1400px;
    margin: auto;
    padding: 20px 0;
    background-color: #F5F4F0;
}

.filter_wrap > .filter_content {
    width: 100%;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    padding: 0 10px;
}

.filter_wrap > .filter_content > .filter_form {
    width: 100%;
    margin: auto;
    text-align: center;
}
.filter_wrap > .filter_content > .filter_form > .filter_text {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.filter_wrap > .filter_content > .filter_form > label > .filter_checkbox {
    width: 18px;
    height: 18px;
    accent-color: #007475;
}
.filter_wrap > .filter_content > .filter_table {
    width: 30%;
    margin: 10px auto;
    text-align: left;
}
.filter_wrap > .filter_content > .filter_table > tbody > tr > th {
    text-align: center;
}

@media screen and (max-width: 1600px) {
    .filter_wrap {
        width: 1160px;
    }
}

@media screen and (max-width: 1200px) {
    .filter_wrap {
        width: 900px;
    }
}

@media screen and (max-width: 960px) {
    .filter_wrap {
        width: 740px;
    }
}

@media screen and (max-width: 760px) {
    .filter_wrap {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .filter_wrap {
        width: 100%;
        padding: 10px 0;
    }
}