.html_wrap {
    width: 1400px;
    margin: auto;
    padding: 20px 0;
    background-color: #F5F4F0;
}
@media screen and (max-width: 1600px) {
    .html_wrap {
        width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .html_wrap {
        width: 900px;
    }
}

@media screen and (max-width: 960px) {
    .html_wrap {
        width: 800px;
    }
}

@media screen and (max-width: 760px) {
    .html_wrap {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .html_wrap {
        width: 100%;
    }
}