.login_wrap {
    position: fixed;
    top: 180px;
    left: 50%;
    width: 300px;
    height: 270px;
    margin-left: -150px;
    border: 1px solid #CDCDCD;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
.login_wrap > p {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin: 20px 0;
}
.login_wrap > input, .login_btn {
    width: 200px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

.login_wrap > .login_btn {
    background-color: #742ECC;
    color: #ffffff;
}